asgiref==3.7.2
dj-database-url==2.1.0
Django==3.2.20
djongo==1.3.4
dnspython==2.4.2
environ==1.0
gunicorn==21.2.0
psycopg2-binary==2.9.7
pycodestyle==2.11.0
python-environ==0.4.54
pytz==2023.3
sqlparse==0.4.4
tzdata==2023.3
whitenoise==6.5.0
django-google-fonts==0.0.3
